{% extends "admin/login.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    {% if user.is_authenticated %}
    <p class="errornote">
        別の管理者からの承認が必要です。
    </p>
    {% endif %}
    <div class="submit-row">
        <a href="{% url 'social:begin' 'slack' %}"><img alt="Sign in with Slack" height="40" width="172"
                src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
                srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
    </div>
</div>
{% endblock %}